<suite name="Login" verbose="1" >
    <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="LoginTest" >
        <classes>
            <class name="regression.LoginTest"/>
<class name="travel.pages.Login">

</class>
            <class/>

        </classes>
    </test>

    </suite>